<!DOCTYPE html>
<html>
<head>
    <title>FLOW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <h1>FLOW</h1>

       <form action="/registration/success" method="post">
           {% csrf_token %}
           E-mail: <br>
           <input type="email" name="email"> <br>
           Password: <br>
           <input type="password" name ="psw"> <br>
           <input type="submit" value="Submit">
        </form>

    <script src="http://code.jquery.com/jquery.js"></script>
  </body>
</html>
